<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100" class="tela-filtro-grid-padrao">

        <mat-card class="mat-card-filtro-batimento">
            <mat-card-content>
                <mat-card-title>Batimento - {{lblModo}}</mat-card-title>
                <form [formGroup]="formSearch" (ngSubmit)="onSubmitSearch()">
                    <div class="row">
                        <span *ngIf="isModoRejeitado">
                            <div class="lbl-data">
                                <mat-label>Data Movimento: </mat-label>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dataMov" placeholder="Selecione Data Movimento" formControlName="dataMov" readonly (dateChange)="changeDatMovi()">
                                    <mat-datepicker-toggle matSuffix [for]="dataMov"></mat-datepicker-toggle>
                                    <mat-datepicker #dataMov disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="formSearch.get('dataMov').invalid">{{getRequiredMessage('dataMov')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </span>
                        <div class="col-md-2">
                            <button class="mt10" type="button" mat-raised-button color="primary" (click)="processarBatimento()" [disabled]="processandoBatimento">
                                <i class="material-icons">sync</i>Processar {{lblModo}}s
                            </button>
                        </div>
                        <div class="col-md-2" *ngIf="isModoRejeitado">
                            <button class="mt10" type="submit" mat-raised-button color="primary">
                                <i class="material-icons">search</i>Apenas Consultar
                            </button>
                        </div>
                        <div class="col-md-3" *ngIf="processandoBatimento">
                            Processamento em andamento!
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-card-grid-batimento">
            <div class="grid-container-batimento">
                <table mat-table [dataSource]="listBatimento" class="tabela-padrao">

                    <ng-container matColumnDef="NOME_PV">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 200px"> Nome PV </th>
                        <td mat-cell class="tabela-id" *matCellDef="let element"> {{element.nomePV}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CIDADE_PV">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 125px"> Cidade PV </th>
                        <td mat-cell *matCellDef="let element"> {{element.cidadePV}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DATA_MOV">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 75px"> Mov. </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataMovFormatada}} </td>
                    </ng-container>

                    <ng-container matColumnDef="VALOR_VENDA">
                        <th mat-header-cell *matHeaderCellDef
                            style="min-width: 70px; text-align: right; padding-right: 10px;"> Valor <br /> Venda </th>
                        <td mat-cell *matCellDef="let element" style="text-align: right; padding-right: 10px;">{{element.valorVenda.toLocaleString('pt-br', {minimumFractionDigits: 2})}} </td>
                    </ng-container>

                    <ng-container matColumnDef="PARCELAS">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 70px"> Parcelas </th>
                        <td mat-cell *matCellDef="let element"> {{element.numParcela}}/{{element.qtdTotParcelas}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NUM_LOTE">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 50px"> Nº Lote </th>
                        <td mat-cell *matCellDef="let element"> {{element.numLote}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NUM_REF_TRANS">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 200px"> Nº Ref. Transação </th>
                        <td mat-cell *matCellDef="let element"> {{element.numRefTransacao}} </td>
                    </ng-container>

                    <ng-container matColumnDef="LOGIN_LIBERACAO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 80px"> Usuário Liberação </th>
                        <td mat-cell *matCellDef="let element"> {{element.loginLiberacao}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DATA_LIBERACAO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 100px"> Data <br /> Liberação </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataLiberacao | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="LOGIN_ACATADO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 75px"> Usuário Acatado </th>
                        <td mat-cell *matCellDef="let element"> {{element.loginAcatado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DATA_ACATADO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 85px"> Data <br /> Acatado </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataAcatado | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NUM_LOTE_ACATADO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 70px"> Nº Lote <br /> Acatado </th>
                        <td mat-cell *matCellDef="let element"> {{element.nrRemessaAcatado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="LOGIN_REJEICAO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 75px"> Usuário Rejeição </th>
                        <td mat-cell *matCellDef="let element"> {{element.loginRejeicao}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DATA_REJEICAO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 85px"> Data <br /> Rejeição </th>
                        <td mat-cell *matCellDef="let element"> {{element.dataRejeicao | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="NUM_LOTE_REJEICAO">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 70px"> Nº Lote <br /> Rejeição </th>
                        <td mat-cell *matCellDef="let element"> {{element.nrRemessaRejeicao}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card>
    </div>
</div>